html{
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}


.inicio{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.contenido ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contenido ul li a{
  text-decoration: none;
  margin-left: 3rem;
}

.logo a img{
  width: 5rem;
  
}

.cotizacion{
  background-color: #FFAA00;
  border-radius: 4rem;
  padding: 1.5rem;
}

.cotizacion a{
  list-style: none;
  text-decoration: none;
}


.backroundimg{
  background-image: url("../img/banner.png");
  height: 60rem;
  background-size: cover;
}

.texto-header{
  width: 70rem;
  height: auto;
  margin: 0 auto;
  padding-top: 10rem;
}

.title{
  color: #FFAA00;
}

.texto-header h1{
  color: white;
}

.texto-header h2{
  color: #A3D9A5;
}

.descripcion{
  color: white;
}

.solicitud{
  text-decoration: none;
  background-color: #FFAA00;
  border-radius: 4rem;
  padding: 1.5rem;
}

.servicios{
  border: .1rem solid white;
  padding: 1rem 1.8rem;
  border-radius: 4rem;
}

.texto-header a{
  text-decoration: none;
  color: white
}

.nosotros{
  display: flex;
  justify-content: center;
}

.texto-nosotros{
  width: 60rem;
  height: 20rem;
  margin: 1rem 20rem;
  padding-top: 5rem;
  color: #003366;
}


.titulo-nosotros{
  color: #FFAA00;
}

.nosotros img{
  width: 40rem;
  height: 20rem;
  padding: 10rem 10rem 10rem 10rem;
  border-radius: 15rem;
}

.valores{
  background-color: #003366;
  color: white;
  padding: 10rem 8rem;
}

.valor-diferencial{
  color: #FFAA00;
}


.valores-centrar{
  width: 70rem;
  height: auto;
  margin: 0 auto;
}

.cards{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  align-items: stretch;
  width: 90rem;
  height: 30rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
  background-color: white;
  color: #003366;
  padding: 7rem;
  border-radius: 4rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  
}


.cards span{
  color: #FFAA00;
}

.cobertura{
  display: flex;
  background-color: #D9D9D9;
  padding: 10rem 8rem;
  gap: 6rem;
  color: #003366;
}

.cobertura-izquierda{
  flex: 1;
}

.cobertura ul{
  list-style: none;
  margin-top: 5rem;
}

.titulo-cobertura{
  color: #FFAA00;
}

.cobertura li{
  margin-bottom: 1rem;
}

.cobertura-derecha{
  background-color: white;
  padding: 3rem;
  border-radius: 1.2rem;
}

.cobertura-derecha span{
  background-color: #003366;
  color: white;
  padding: 1rem 1.4rem;
  margin: .5rem;
  border-radius: 2.5rem;
  font-size: 1.4rem;
}

.cobertura li::before {
  content: "✔ ";
  color: #003366;
}



